
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; 
  width: 300px;
  background-color: #111;
  color: white;
  padding: 20px;
  position: fixed; 
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 100%; 
  height: auto; 
}

.sidebar-links {
  flex-grow: 1;
}

.sidebar a {
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
  margin-bottom: 15px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #26737B;
  padding-left: 15px;
  border-radius: 8px;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar a.active {
  background-color: #26737B;
  padding-left: 15px;
  border-radius: 8px;
}

.sidebar a:last-child {
  margin-bottom: 0;
}


.sidebar a:not(.active):hover {
  background-color: #3a3c3d; 
  padding-left: 15px;
  border-radius: 8px;
}
